*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
/*section-1 start*/
nav{
    height: 6rem;
    width: 100vw;
    background-color: #e0d4bd;
    display: flex;
    z-index: 10;
}
.logo {
    margin-left: 58px;
    font-size: 19px;
    line-height: 90px;
    font-family: 'Tenor Sans';
     cursor: pointer;
}
.nav-links {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: right;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li {
    padding: 0px 36px 0px 0px;
     font-family: "Open Sans"; 
     font-weight: 600;

}
.nav-links li a {
    text-decoration: none;
    margin: 0px 32px;
    color: #0e0e0e;
    font-weight: 600;
}
.nav-links li a:hover {
    color: blue;
}
.nav-links li {
    position: relative;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 4px;
    width: 0%;
    background-color: #976a4e;
    position: absolute;
    top: 49px;
    right: 34%;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::before {
    width: 55%;
}

/*Styling Buttons*/
.login-button {
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 6px 17px;
    margin-left: 2vw;
    font-size: 14px;
    border-style: none;
    color: #e5d2d2;
    cursor: pointer;
     font-family: 'Tenor Sans';
    background-color: #484848;
}
.login-button:hover {
    color: #131418;
     font-family: 'Tenor Sans';
    background-color: #f2f5f7;
/*    border:1.5px solid #f2f5f7;*/
    transition: all ease-in-out 350ms;
}
/*.join-button{
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}*/
/*.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}*/

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}
.main_sec{
    text-align: center;
}
.head_1 h1{
  font-size: 48px;
line-height: 52px;
text-transform: uppercase;
color: #976a4e;
font-weight: 400;
font-family: "Tenor Sans";
position: relative;
}
.head_1 h1:after {
    content: "";
    display: block;
    width: 58px;
    height: 5px;
    background-color: #976a4e;
    margin-top: 4px;
    left: 48%;
    bottom: -13%;
    position: absolute;
}
.padtb-80{
    padding: 80px 0px;
}
.main_sec {
    background-color: #e0d4bd;
    height: 500px;
}

  .head_2 h4 {
    font-size: 23px;
    letter-spacing: 0px;
    line-height: 55px;
    margin-top: 30px;
    text-transform: uppercase;
    color: #3e3e3e;
    font-family: "Open Sans";
}
.para_1 {
/*    height: 352px;*/
    font-size: 15px;
    line-height: 24px;
    color: #3e3e3e;
    font-weight: 600;
    font-family: "Open Sans";  
}
.buton_1{
    margin-top: 35px;
}
.buton_1 >.btn {
    padding: 10px 27px;
    background-color: #976a4e;
    border-radius: 20px;
    border: 0px solid #93684c;
    margin: 0 10px;
    color: #e0d4bd ;
    font-weight: 600;
}
.buton_1 >.btn_22 {
   background-color: #e0d4bd;
   border-style: none;
    padding: 10px 27px;
    font-weight: 600;
     color: #976a4e;
}
.buton_1 >.btn_22: hover {
    padding: 10px 27px;
    border-radius: 20px;
    color:black;
    border: 0px solid #93684c;
    font-weight: 600;
}

.chair{
    position: relative;
}

.img_2 {
    position: absolute;
    left: 0px;
    bottom: 150px;
    width: 60%;
    top: -193px;
    z-index: 1;
}
.chair>.img_1 {
    position: absolute;
    bottom: 0;
    width: 50%;
    top: -56px;
    right: 0px;
    z-index: 1;
}
.chair>.img_3 {
    position: absolute;
    left: -160px;
    bottom: -224px;
    width: 36%;
}
.clr {
    width: 100%;
    height: 125px;
    background-color: #976a4e;
    position: relative;
}

/*section-1 end*/

.proper {
    background-color: #494949;
/*    height: 250px;*/

}

.build {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    width: 1140px;
    text-align: center;
    line-height: 2;
}
.plus85 h3{
    font-size: 30px;
    font-family: "Tenor Sans";
    color: #daceb8;
    font-weight: 400;

}
.plus85 p{
 font-family: "Open Sans"; 
 font-size: 15px;
 color: #e0d4bd;
font-weight: 600;
}
/*sec 3 css*/

.dolor_group{
    background-color:#e0d4bd ;
    position: relative;
}
.aliqua{
    text-align: center;
    margin: 0 auto;
    width: 1140px;
}
.head_3 h2 {
    font-size: 48px;
    line-height: 70px;
    text-transform: uppercase;
    color: #976a4e;
    font-weight: 400;
    font-family: "Tenor Sans";
}
.elit p{
font-size: 15px;
line-height: 24px;
color: #3e3e3e;
font-weight: 600;
font-family: "Open Sans";
}
.rgtarow{
    position: absolute;
    left: 0;
    top: 12%;
    height: 90px;
}
.lftarow {
    position: absolute;
    right: 0;
    top: 12%;
    height: 90px;
}
.lore_sit{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.img_tempor>h4 {
    font-size: 25px;
    letter-spacing: 0px;
    margin-top: 30px;
    line-height: 28px;
    text-transform: uppercase;
    color: #976a4e;
    font-weight: 600;
    font-family: "Open Sans";
}
.img_tempor>p {
    font-size: 14px;
    line-height: 24px;
    margin: 0px 77px;
    color: #3e3e3e;
    font-weight: 600;
    font-family: "Open Sans";
}
.img_tempor button {
    border-radius: 23px;
    margin-top: 15px;
    padding: 6px 16px;
    background: #e0d4bd;
    color:#976a4e ;
    cursor: pointer;
    font-weight: 600;
    border: 2px solid #976a4e;
}
/*sec-end-3*/
/*sec-start-4*/
.oured{
   display: grid;
   grid-template-columns: 1fr 1fr;
/*   width: 1140px;*/
/*   margin: 0 auto;*/
}
.seedi>img {
    width: 100%;
    height: 100%;
}
 .magna {
    background-color: #976a4e;
    text-align: center;
    height: 860px;
}
 .magna h3 {
    font-size: 48px;
    line-height: 52px;
    margin-top: 222px;
    color: #e0d4bd;
    text-align: left;
    font-weight: 400;
    margin-bottom: 90px;
    padding: 0px 149px;
    font-family: "Tenor Sans";
    position: relative;
}
.magna h3:after {
    content: "";
    display: block;
    width: 114px;
    height: 2px;
    background-color: #e0d4bd;
    /* margin-top: 4px; */
    left: 23%;
    bottom: -41%;
    position: absolute;
}
    .magna p {
        padding: 0px 149px;
        font-size: 15px;
        line-height: 24px;
        color: #e0d4bd;
        font-weight: 600;
        font-family: "Open Sans";
        text-align: left;
    }
  .magna>button {
    padding: 7px 13px;
    margin-right: 41%;
    margin-top: 18px;
    border-radius: 13px;
    font-weight: 700;
    background-color: #e0d4bd;
    color: #976a4e;
    border-style: none;
    
}

     .shap_arrow{
        position: relative;
      }
      

    .shap_arrow>.baro_1 {
       position: absolute;
       right: 129px;
       top: 260px;
}

   .shap_arrow>.baro_2 {
    position: absolute;
    /* bottom: -4px; */
    right: 49px;
    top: 260px;
}
/*sec-end-4*/

/*sec-start-5*/

    .eiusmod{
          background-color: #e0d4bd;
    }

   .labore {
    margin: 0 auto;
    width: 1140px;
    position: relative;
    height: 769px;
}
   .sitam {
    position: relative;
    margin-left: 92px;
}
.sitam h3:after {
    content: "";
    display: block;
    width: 127px;
    height: 2px;
    background-color: #3d3d3d;
    left: 0%;
    bottom: 44%;
    position: absolute;
}

  .sitam>h3 {
    font-size: 48px;
    line-height: 52px;
    margin-top: 200px;
    text-transform: uppercase;
    color: #3d3d3d;
    font-weight: 400;
    font-family: "Tenor Sans";
}
   .sitam>p {
    font-size: 15px;
    line-height: 24px;
    margin-top: 85px;
    color: #3d3d3d;
    font-weight: 600;
    font-family: "Open Sans";
}
.bold button {
    padding: 7px 11px;
    margin-top: 41px;
    border-radius: 14px;
    border-style: none;
    color: #e0d4bd;
    margin-left: 94px;
    cursor: pointer;
    font-weight: 700;
    font-family: "Open Sans";
    background-color: #976a4e;
}
 .my_teble {
    position: absolute;
    right: -209px;
    top: 28%;
}
.main_album{
    display:grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}
.photo>.pass {
    position: absolute;
    top: 55px;
    left: -109px;
}
 .album {
    background-color: #e0d4bd;
    text-align: center;
    height: 749px;
    /* margin-top: 36%; */
}

  .album h3 {
    font-size: 40px;
    line-height: 51px;
    color: #976a4e;
    text-align: left;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 90px;
    padding: 0px 149px;
    margin-top: 25%;
    font-family: "Tenor Sans";
    position: relative;
}
   .album h3:after {
    content: "";
    display: block;
    width: 114px;
    height: 2px;
    background-color: #976a4e;
    /* margin-top: 4px; */
    left: 23%;
    bottom: -41%;
    position: absolute;
}
  .album p {
    padding: 0px 135px;
    font-size: 15px;
    line-height: 24px;
    color: #976a4e;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: left;
  
}


.bold_1 button{
     padding: 7px 11px;
    margin-top: 41px;
    border-radius: 14px;
    border-style: none;
    color: #e0d4bd;
    cursor: pointer;
    font-weight: 700;
    font-family: "Open Sans";
    background-color: #976a4e;
}

/*sec-end-5*/

/* section-6-start*/

.section-5{
    background: #e5d5bd;
}

.incididunt{
/*  width: 1140px;*/
/*  margin: 0 auto;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
  }
.incididunt img{
    width: 100%;
}
.incididunt h2{
    font-size: 44px;
    font-weight: 100;
    font-family: "Tenor Sans";
    position: absolute;
    transform: translate(-50%,-50%);
    top: 30%;
    left: 21%;
}
.incididunt:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 123px;
    top: 46%;
    left: 10%;
    bottom: 0%;
    background-color: black;
}
.incididunt p {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 61%;
    left: 23%;
    line-height: 25px;
}
.incididunt button {
    margin-top: 26px;
    padding: 7px 20px;
    border-radius: 20px;
    border-style: none;
    color: #a66a4b;
    font-weight: bold;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 73%;
    left: 14%;
    background: black;
    color: white;
    cursor: pointer;

}

/* section-6-end*/
/* section-7 start*/



.section-7{
   background:#e5d5bd;
   height: 600px;
   position: relative;
}

.eiusmod{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -4px;
}


.Image-1 {
    width: 77rem;

}
.Image-1 img {
    width: 1600px;
    position: absolute;
    right: 6%;
    top: 10%;
}
.bg-empty{
    background:  #a66a4b;
    height: 270px;
}

.consectetur h2 {
    font-size: 44px;
    color: #3d3d3d;
    font-weight: 400;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 40%;
    left: 21%;
}
.consectetur:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 123px;
    top: 57%;
    left: 11%;
    bottom: 0%;
    background-color: #3d3d3d;
}
.consectetur p {
    position: absolute;
    color: #3d3d3d;
    font-weight: 600;
    transform: translate(-50%,-50%);
    font-family: "Open Sans";
    top: 73%;
    left: 25%;
    line-height: 25px;
}
.consectetur button {
    margin-top: 26px;
    padding: 7px 20px;
    border-radius: 20px;
    border-style: none;
    font-family: "Open Sans";
    font-weight: 700;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 83%;
    left: 15%;
    background-color: #3d3d3d;
    color: #e5d2d2;
    cursor: pointer;
}

/* section-7 end*/

.section-8{
height: 780px}
.email-name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #e0d4bd;
    position: relative;
/*    height: 781px;*/
}
.Picture-img>.pri {
    width: 62%;
    height: 50%;
    position: absolute;
    bottom: -65px;
    left:0;
}

.Picture-img>.pri_2 {
    position: absolute;
    right: 34%;
    top: 7%;
    width: 96%;
    height: 759px;
}
.subscribe {
    margin-top: 50%;
    font-size: 45px;
    letter-spacing: 1px;
    line-height: 54px;
    color: #484a4b;
    font-weight: 400;
    font-family: "Tenor Sans";
    text-align: center;
}

.light-img{
    position: relative;

}


.light-img>.pri_3 {
    width: 52%;
    height: 68vh;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 222px;
    left: 50%;
}
.all_term{
    text-align: center;
}

.your-name input {
    padding: 10px 13rem 7px 17px;
    border-radius: 20px;
    border: 2px solid #ab7355;
    margin: 8px;
    font-size: 18px;
    outline: none;
    background: #e5d5bd;
}
.email input{
    padding: 10px 13rem 7px 17px;
    border-radius: 20px;
    border: 2px solid #ab7355;
    outline: none;
    font-size: 18px;
    margin: 8px;
    background: #e5d5bd;
    
}

.textarea textarea {
    padding: 10px 14rem 50px 10px;
    border-radius: 20px;
    border: 2px solid #ab7355;
    margin: 8px;
    font-size: 18px;
    outline: none;
    background: #e5d5bd;
}
.button-3 {
    padding: 10px 25px;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 16px;
    color: #e5d2d2;
    cursor: pointer;
    background-color: #484848;
    border-radius: 20px;
    margin-bottom: 30px;
    border-style: none;
}


.footer{
   background-color: #494949;
    color: white;
}
.col-3-footer{
    width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}
.col-3-footer .sec-ul li {
    display: block;

}
.sec-ul li a {
    text-decoration: none;
    font-size: 23px;
    letter-spacing: -1px;
    line-height: 44px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
}
.about {
    margin-top: 250px;
}
.about h2{
    font-size: 29px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    margin-bottom: 25px;
}

.about i {
    padding: 9px;
    margin-left: 25px;
    font-size: 22px;
    border: 3px solid #a66a4b;
    border-radius: 54px;
    color: #a66a4b;
    margin-top: 51px;
    cursor: pointer;
}
.man-1 i{
   padding: 0px 10px;
}

             /*Responsive*/

@media screen and (max-width: 1199px){
.album h3 {
    font-size: 49px;
    line-height: 51px;
    color: #976a4e;
    text-align: left;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 90px;
    padding: 0px 149px;
    margin-top: 25%;
    font-family: "Tenor Sans";
    position: relative;
}
.album p {
    padding: 0px 51px 0px 138px;
    font-size: 19px;
    line-height: 28px;
    color: #976a4e;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: left;
}
.album h3:after {
    content: "";
    display: block;
    width: 114px;
    height: 2px;
    background-color: #976a4e;
    /* margin-top: 4px; */
    left: 32%;
    bottom: -41%;
    position: absolute;
}
.buton_1 >.btn {
    padding: 10px 27px;
    background-color: #976a4e;
    border-radius: 20px;
    border: 0px solid #93684c;
    margin: 0 10px;
    font-size: 20px;
    color: #e0d4bd;
    font-weight: 600;
}
.buton_1 >.btn_22 {
    background-color: #e0d4bd;
    border-style: none;
    padding: 10px 27px;
    font-weight: 600;
    font-size: 20px;
    color: #976a4e;
}
.Image-1 {
    width: 100%;
}
.album p {
    padding: 0px 51px 0px 138px;
    font-size: 19px;
    line-height: 24px;
    color: #976a4e;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: left;
}
.consectetur h2 {
    font-size: 51px;
    color: #3d3d3d;
    font-weight: 400;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 40%;
    left: 21%;
}
.consectetur p {
    position: absolute;
    color: #3d3d3d;
    font-weight: 600;
    transform: translate(-50%,-50%);
    font-family: "Open Sans";
    top: 73%;
    left: 25%;
    font-size: 20px;
    line-height: 25px;
}
.consectetur:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 123px;
    top: 57%;
    left: 8%;
    bottom: 0%;
    background-color: #3d3d3d;
}
.consectetur button {
    margin-top: 26px;
    font-size: 20px;
    padding: 7px 20px;
    border-radius: 20px;
    border-style: none;
    font-family: "Open Sans";
    font-weight: 700;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 83%;
    left: 15%;
    background-color: #3d3d3d;
    color: #e5d2d2;
    cursor: pointer;
}
.bold_1 button {
    padding: 7px 11px;
    margin-top: 41px;
    margin-right: 15%;
    border-radius: 14px;
    border-style: none;
    color: #e0d4bd;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
    font-family: "Open Sans";
    background-color: #976a4e;
}
.img_tempor>p {
    font-size: 19px;
    line-height: -26px;
    margin: 0px 33px;
    line-height: 2;
    color: #3e3e3e;
    font-weight: 600;
    font-family: "Open Sans";
}
.img_tempor button {
    border-radius: 23px;
    margin-top: 15px;
    padding: 6px 16px;
    background: #e0d4bd;
    color: #976a4e;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #976a4e;
}
.para_1 {
    /* height: 352px; */
    font-size: 20px;
    line-height: 24px;
    color: #3e3e3e;
    font-weight: 600;
    font-family: "Open Sans";
}
.buton_1 >.btn_22 {
    background-color: #e0d4bd;
    border-style: none;
    padding: 10px 27px;
    font-weight: 600;
    font-size: 20px;
    color: #976a4e;
}
.plus85 h3 {
    font-size: 54px;
    font-family: "Tenor Sans";
    color: #daceb8;
    font-weight: 400;
}
.img_2 {
    position: absolute;
    left: 0px;
    bottom: 150px;
    width: 60%;
    top: -141px;
    z-index: 1;
}
.chair>.img_1 {
    position: absolute;
    bottom: 0;
    width: 50%;
    top: -25px;
    right: 0px;
    z-index: 1;
}
.my_teble {
    position: absolute;
    width: 46%;
    right: -59px;
    top: 48%;
}
.light-img>.pri_3 {
    width: 52%;
    height: 55vh;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 241px;
    left: 50%;
}
.magna p {
    padding: 0px 149px;
    font-size: 20px;
    line-height: 24px;
    color: #e0d4bd;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: left;
}
.magna>button {
    padding: 7px 13px;
    margin-right: 31%;
    margin-top: 18px;
    font-size: 16px;
    border-radius: 13px;
    font-weight: 700;
    background-color: #e0d4bd;
    color: #976a4e;
    border-style: none;
}
.magna h3:after {
    content: "";
    display: block;
    width: 114px;
    height: 4px;
    background-color: #e0d4bd;
    /* margin-top: 4px; */
    left: 23%;
    bottom: -41%;
    position: absolute;
}
.about {
    margin-left: 15%;
    margin-top: 250px;
}
.sitam>p {
    font-size: 24px;
    line-height: 24px;
    margin-top: 85px;
    color: #3d3d3d;
    font-weight: 600;
    font-family: "Open Sans";
}
.bold button {
    padding: 7px 11px;
    margin-top: 41px;
    border-radius: 14px;
    border-style: none;
    color: #e0d4bd;
    margin-left: 94px;
    font-size: 22px;
    cursor: pointer;
    font-weight: 700;
    font-family: "Open Sans";
    background-color: #976a4e;
}
}

@media screen and (max-width: 1024px){


.nav-links li a {
    text-decoration: none;
    margin: 0px 4px;
    color: #0e0e0e;
    font-weight: 600;
}
.chair>.img_3 {
    position: absolute;
    left: -175px;
    bottom: -224px;
    width: 36%;
}
.img_2 {
    position: absolute;
    left: 0px;
    bottom: 136px;
    width: 60%;
    top: -79px;
    z-index: 1;
}
.chair>.img_1 {
    position: absolute;
    bottom: 0;
    width: 50%;
    top: 22px;
    right: 39px;
    z-index: 1;
}
.build {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    width: 1024px;
    text-align: center;
    line-height: 2;
}
.lore_sit {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 0 auto;
    width: 982px;
}
.img_tempor>h4 {
    font-size: 22px;
    letter-spacing: 1px;
    margin-top: 30px;
    line-height: 32px;
    text-transform: uppercase;
    color: #976a4e;
    font-weight: 600;
    font-family: "Open Sans";
}
.img_tempor>p {
    font-size: 14px;
    line-height: 32px;
    margin: 0px 48px;
    color: #3e3e3e;
    font-weight: 600;
    font-family: "Open Sans";
}
.magna h3:after {
    content: "";
    display: block;
    width: 114px;
    height: 2px;
    background-color: #e0d4bd;
    /* margin-top: 4px; */
    left: 27%;
    bottom: -41%;
    position: absolute;
}
.magna>button {
    padding: 7px 13px;
    margin-right: 26%;
    margin-top: 26px;
    border-radius: 13px;
    font-weight: 700;
    background-color: #e0d4bd;
    color: #976a4e;
    border-style: none;
}
.light-img>.pri_3 {
    width: 52%;
    height: 91vh;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 186px;
    left: 50%;
}
.labore {
    margin: 0 auto;
    width: 1024px;
    position: relative;
    height: 769px;
}
.my_teble {
    position: absolute;
    width: 55%;
    right: 0px;
    top: 48%;
}
img.pass_1 {
    width: 100%;
}
.photo>.pass {
    position: absolute;
    top: 46px;
    width: 24%;
    left: -116px;
}
img.pass_1 {
    width: 100%;
    height: 221vh;
}
.Image-1 img {
    width: 1297px;
    position: absolute;
    right: 4%;
    top: 24%;
}
.about h2 {
    font-size: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    margin-bottom: 25px;
}
.sec-ul li a {
    text-decoration: none;
    font-size: 22px;
    letter-spacing: -1px;
    line-height: 44px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
}
.col-3-footer {
    width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}
.aliqua {
    text-align: center;
    margin: 0 auto;
    width: 1024px;
}
.Image-1 {
    width: 100%;
}
.album p {
    padding: 0px 45px 0px 161px;
    font-size: 14px;
    line-height: 24px;
    color: #976a4e;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: left;
}
}

@media screen and (max-width: 991px){
.build {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    width: 978px;
    text-align: center;
    line-height: 2;
}
.aliqua {
    text-align: center;
    margin: 0 auto;
    width: 980px;
}
.my_teble {
    position: absolute;
    width: 55%;
    right: 32px;
    top: 48%;
}
.col-3-footer {
    width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}
.album p {
    padding: 0px 31px 0px 138px;
    font-size: 15px;
    line-height: 24px;
    color: #976a4e;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: left;
}
.img_tempor>p {
    font-size: 14px;
    line-height: 32px;
    margin: 0px 37px;
    color: #3e3e3e;
    font-weight: 600;
    font-family: "Open Sans";
}
.labore {
    margin: 0 auto;
    width: 978px;
    position: relative;
    height: 769px;
}
.my_teble {
    position: absolute;
    width: 55%;
    right: -12px;
    top: 48%;
}
.Image-1 {
    width: 100%;
}
img.pass_1 {
    width: 100%;
    height: 124vh;
}
.about i {
    padding: 9px;
    margin-left: 15px;
    font-size: 22px;
    border: 3px solid #a66a4b;
    border-radius: 54px;
    color: #a66a4b;
    margin-top: 25px;
    cursor: pointer;
}
.light-img>.pri_3 {
    width: 100%;
    height: 51vh;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 186px;
    left: 50%;
}

}


/*Stying for small screens*/
@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
  .nav-links {
    position: fixed;
    background: #d2d3bacf;
    height: 124vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    /* -webkit-clip-path: circle(50px at 56% 101%); */
    transition: all 1s ease-out;
    pointer-events: none;
}
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }

    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
   li.fade {
    opacity: 1;
    padding: 23px;
    /* color: white; */
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 4px;
    width: 0%;
    background-color: #976a4e;
    position: absolute;
    top: 49px;
    right: 26%;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}

.head_1 h1 {
    font-size: 45px;
    margin-top: 10px;
    line-height: 52px;
    text-transform: uppercase;
    color: #976a4e;
    font-weight: 400;
    font-family: "Tenor Sans";
    position: relative;
}
.chair>.img_1 {
    position: absolute;
    bottom: 0;
    width: 50%;
    top: 82px;
    right: 39px;
    z-index: 1;
}
.img_2 {
    position: absolute;
    left: 0px;
    bottom: 136px;
    width: 60%;
    top: -11px;
    z-index: 1;
}
.chair>.img_3 {
    position: absolute;
    left: -175px;
    bottom: -145px;
    width: 36%;
}
.build {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    width: 800px;
    text-align: center;
    line-height: 2;
}
.aliqua {
    text-align: center;
    margin: 0 auto;
    width: 800px;
}
.lore_sit {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 0 auto;
    width: 800px;
}
.img_tempor>h4 {
    font-size: 17px;
    letter-spacing: 1px;
    margin-top: 30px;
    line-height: 32px;
    text-transform: uppercase;
    color: #976a4e;
    font-weight: 600;
    font-family: "Open Sans";
}
.img_tempor>p {
    font-size: 14px;
    line-height: 32px;
    margin: 0px 0px;
    color: #3e3e3e;
    font-weight: 600;
    font-family: "Open Sans";
}
img {
    width: 72%;
}
.lftarow {
    position: absolute;
    right: 0;
    top: 12%;
    width: 15%;
    height: 90px;
}
.rgtarow {
    position: absolute;
    left: -15px;
    top: 12%;
    width: 17%;
    height: 90px;
}
.shap_arrow>.baro_2 {
    position: absolute;
    /* bottom: -4px; */
    width: 10%;
    right: 49px;
    top: 260px;
}
.shap_arrow>.baro_1 {
    position: absolute;
    right: 129px;
    top: 260px;
    width: 10%;
}
.labore {
    margin: 0 auto;
    width: 800px;
    position: relative;
    height: 769px;
}
.my_teble {
    position: absolute;
    width: 55%;
    right: 0;
    top: 48%;
}
.col-3-footer {
    width: 723px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
}
.about h2 {
    font-size: 23px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    margin-bottom: 25px;
}
.about {
    margin-left: 0%;
    margin-top: 237px;
}
.sec-ul li a {
    text-decoration: none;
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 44px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
}
.my_teble {
    position: absolute;
    width: 55%;
    right: 0;
    top: 48%;
}
.button-3 {
    padding: 10px 15px;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 13px;
    color: #e5d2d2;
    cursor: pointer;
    background-color: #484848;
    border-radius: 20px;
    margin-bottom: 30px;
    border-style: none;
}
}
@media screen and (max-width: 768px){

nav {
    position: fixed;
    z-index: 3;
    width: 767px;
}

.main_sec {
    background-color: #e0d4bd;
    height: 500px;
    width: 767px;
}
.clr {
    width: 767px;
    height: 125px;
    background-color: #976a4e;
    position: relative;
}
.para_1 {
    /* height: 352px; */
    font-size: 17px;
    line-height: 24px;
    color: #3e3e3e;
    font-weight: 600;
    font-family: "Open Sans";
}
.buton_1 >.btn_22 {
    background-color: #e0d4bd;
    border-style: none;
    padding: 10px 27px;
    font-weight: 600;
    font-size: 15px;
    color: #976a4e;
}
.buton_1 >.btn {
    padding: 10px 27px;
    background-color: #976a4e;
    border-radius: 20px;
    border: 0px solid #93684c;
    margin: 0 10px;
    font-size: 15px;
    color: #e0d4bd;
    font-weight: 600;
}
.head_1 h1:after {
    content: "";
    display: block;
    width: 64px;
    height: 5px;
    background-color: #976a4e;
    margin-top: 4px;
    left: 46%;
    bottom: -13%;
    position: absolute;
}
.build {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    width: 767px;
    text-align: center;
    line-height: 2;
}
.proper {
    background-color: #494949;
    /* height: 250px; */
    width: 767px;
}
.dolor_group {
    width: 767px;
    background-color: #e0d4bd;
    position: relative;
}
.project {
    width: 767px;
}
.img_2 {
    position: absolute;
    left: 0px;
    bottom: 136px;
    width: 60%;
    top: -6px;
    z-index: 1;
}
.aliqua {
    text-align: center;
    margin: 0 auto;
    width: 740px;
}

.sitam>p {
    font-size: 17px;
    line-height: 24px;
    margin-top: 85px;
    color: #3d3d3d;
    font-weight: 600;
    font-family: "Open Sans";
}
.bold button {
    padding: 7px 11px;
    margin-top: 41px;
    border-radius: 14px;
    border-style: none;
    color: #e0d4bd;
    margin-left: 94px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 700;
    font-family: "Open Sans";
    background-color: #976a4e;
}
img {
    width: 60%;
}
.lore_sit {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 0 auto;
    width: 765px;
}
.img_tempor>p {
    font-size: 13px;
    line-height: 32px;
    margin: 0px 0px;
    color: #3e3e3e;
    font-weight: 600;
    font-family: "Open Sans";
}
.img_tempor button {
    border-radius: 23px;
    margin-top: 15px;
    font-size: 10px;
    padding: 6px 16px;
    background: #e0d4bd;
    color: #976a4e;
    cursor: pointer;
    font-weight: 600;
    border: 2px solid #976a4e;
}
.consectetur h2 {
    font-size: 45px;
    color: #3d3d3d;
    font-weight: 400;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 40%;
    left: 21%;
}
.consectetur p {
    position: absolute;
    color: #3d3d3d;
    font-weight: 600;
    transform: translate(-50%,-50%);
    font-family: "Open Sans";
    top: 73%;
    left: 25%;
    font-size: 17px;
    line-height: 25px;
}
.consectetur:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 104px;
    top: 57%;
    left: 3%;
    bottom: 0%;
    background-color: #3d3d3d;
}
.consectetur button {
    margin-top: 26px;
    font-size: 14px;
    padding: 7px 20px;
    border-radius: 20px;
    border-style: none;
    font-family: "Open Sans";
    font-weight: 700;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 83%;
    left: 10%;
    background-color: #3d3d3d;
    color: #e5d2d2;
    cursor: pointer;
}
.oured {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 767px;
    margin: 0 auto;
}
.img_tempor>h4 {
    font-size: 17px;
    letter-spacing: 0px;
    margin-top: 30px;
    line-height: 32px;
    text-transform: uppercase;
    color: #976a4e;
    font-weight: 600;
    font-family: "Open Sans";
}
.eiusmod {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -4px;
    width: 767px;
}
.labore {
    margin: 0 auto;
    width: 759px;
    position: relative;
    height: 769px;
}
img.pass_1 {
    width: 100%;
    height: 159vh;
}
.my_teble {
    position: absolute;
    width: 55%;
    right: -8px;
    top: 48%;
}
.light-img>.pri_3 {
    width: 52%;
    height: 65vh;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 185px;
    left: 50%;
}
.photo>.pass {
    position: absolute;
    top: 46px;
    width: 24%;
    left: -83px;
}
.textarea textarea {
    padding: 10px 15rem 50px 10px;
    border-radius: 20px;
    border: 2px solid #ab7355;
    margin: 8px;
    font-size: 18px;
    outline: none;
    background: #e5d5bd;
}
.main_album {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    width: 767px;
}
.bg-empty {
    background: #a66a4b;
    height: 270px;
    width: 767px;
}
.section-8 {
    height: 780px;
    width: 767px;
}
.album h3:after {
    content: "";
    display: block;
    width: 114px;
    height: 2px;
    background-color: #976a4e;
    /* margin-top: 4px; */
    left: 29%;
    bottom: -24%;
    position: absolute;
}
.album p {
    padding: 0px 29px 0px 131px;
    font-size: 14px;
    line-height: 24px;
    color: #976a4e;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: left;
}
.footer {
    background-color: #494949;
    color: white;
    width: 767px;
}
.about i {
    padding: 9px;
    margin-left: 9px;
    font-size: 22px;
    border: 3px solid #a66a4b;
    border-radius: 54px;
    color: #a66a4b;
    margin-top: 17px;
    cursor: pointer;
}
.magna>button {
    padding: 7px 13px;
    margin-right: 19%;
    margin-top: 26px;
    border-radius: 13px;
    font-weight: 700;
    font-size: 13px;
    background-color: #e0d4bd;
    color: #976a4e;
    border-style: none;
}
.magna p {
    padding: 0px 144px;
    font-size: 17px;
    line-height: 24px;
    color: #e0d4bd;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: left;
}

}



@media screen and (max-width: 375px){
    .logo {
    margin-left: 60px;
    font-size: 26px;
    line-height: 90px;
    font-family: 'Tenor Sans';
    cursor: pointer;
}
    .nav-links li a {
    text-decoration: none;
    margin: 0px 4px;
    color: #0e0e0e;
    font-size: 24px;
    font-weight: 600;
}
.login-button {
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 6px 17px;
    margin-left: 2vw;
    font-size: 25px;
    border-style: none;
    color: #e5d2d2;
    cursor: pointer;
    font-family: 'Tenor Sans';
    background-color: #484848;
}
.para_1 {
    /* height: 352px; */
    font-size: 19px;
    line-height: 24px;
    color: #3e3e3e;
    font-weight: 600;
    font-family: "Open Sans";
}
.buton_1 >.btn {
    padding: 10px 27px;
    background-color: #976a4e;
    border-radius: 20px;
    border: 0px solid #93684c;
    margin: 0 10px;
    font-size: 18px;
    color: #e0d4bd;
    font-weight: 600;
}
.buton_1 >.btn_22 {
    background-color: #e0d4bd;
    border-style: none;
    padding: 10px 27px;
    font-weight: 600;
    font-size: 20px;
    color: #976a4e;
}
.build {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 767px;
    /* column-gap: 22px; */
    text-align: center;
    line-height: 2;
}
.elit p {
    font-size: 19px;
    line-height: 24px;
    color: #3e3e3e;
    font-weight: 600;
    font-family: "Open Sans";
}
.lore_sit {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin: 0 auto;
    width: 765px;
}
img {
    width: 40%;
}
.img_tempor>h4 {
    font-size: 29px;
    letter-spacing: 0px;
    margin-top: 30px;
    line-height: 32px;
    text-transform: uppercase;
    color: #976a4e;
    font-weight: 600;
    font-family: "Open Sans";
}
.img_tempor>p {
    font-size: 20px;
    line-height: 32px;
    margin: 0px 0px;
    color: #3e3e3e;
    font-weight: 600;
    font-family: "Open Sans";
}
.img_tempor button {
    border-radius: 23px;
    margin-top: 15px;
    font-size: 18px;
    padding: 6px 16px;
    background: #e0d4bd;
    color: #976a4e;
    cursor: pointer;
    font-weight: 600;
    border: 2px solid #976a4e;
}
.lore_sit {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin: 0 auto;
    width: 765px;
    row-gap: 54px;
    margin-top: -109px;
}
.oured {
    display: grid;
    grid-template-columns: 1fr;
    width: 767px;
    margin: 0 auto;
}
.magna h3 {
    font-size: 56px;
    line-height: 52px;
    margin-top: 222px;
    color: #e0d4bd;
    text-align: left;
    font-weight: 400;
    margin-bottom: 90px;
    padding: 0px 149px;
    font-family: "Tenor Sans";
    position: relative;
}
.magna p {
    padding: 0px 144px;
    font-size: 24px;
    line-height: 37px;
    color: #e0d4bd;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: left;
}
.magna h3:after {
    content: "";
    display: block;
    width: 116px;
    height: 7px;
    background-color: #e0d4bd;
    /* margin-top: 17px; */
    left: 27%;
    bottom: -41%;
    position: absolute;
}
.magna>button {
    padding: 7px 13px;
    margin-right: 19%;
    margin-top: 22px;
    border-radius: 13px;
    font-weight: 700;
    font-size: 20px;
    background-color: #e0d4bd;
    color: #976a4e;
    border-style: none;
}
.shap_arrow>.baro_1 {
    position: absolute;
    right: 157px;
    top: 190px;
    width: 10%;
}
.shap_arrow>.baro_2 {
    position: absolute;
    /* bottom: -4px; */
    width: 10%;
    right: 49px;
    top: 190px;
}
.album p {
    padding: 0px 29px 0px 131px;
    font-size: 14px;
    line-height: 24px;
    color: #976a4e;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: left;
}
.main_album {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    width: 767px;
}
.album {
    background-color: #e0d4bd;
    text-align: center;
    height: 560px;
    /* margin-top: 36%; */
}
.album p {
    padding: 0px 29px 0px 131px;
    font-size: 23px;
    line-height: 41px;
    color: #976a4e;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: left;
}
.album h3:after {
    content: "";
    display: block;
    width: 114px;
    height: 6px;
    background-color: #976a4e;
    /* margin-top: 4px; */
    left: 29%;
    bottom: -37%;
    position: absolute;
}
.bold_1 button {
    padding: 7px 11px;
    margin-top: 41px;
    margin-right: 47%;
    border-radius: 14px;
    border-style: none;
    color: #e0d4bd;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
    font-family: "Open Sans";
    background-color: #976a4e;
}
.Image-1 img {
    display: none;
}
.section-7 {
    display: none;
}
.col-3-footer {
    width: 723px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    /* row-gap: 4px; */
    text-align: center;
}
.about {
    margin-left: 0%;
    margin-top: 70px;
}
.about h2 {
    font-size: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    margin-bottom: 25px;
}
.sec-ul li a {
    text-decoration: none;
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 44px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
}
.your-name input {
    padding: 13px 9rem 7px 17px;
    border-radius: 20px;
    border: 2px solid #ab7355;
    margin: 8px;
    font-size: 21px;
    outline: none;
    background: #e5d5bd;
}
.email input {
    padding: 11px 9rem 7px 17px;
    border-radius: 20px;
    border: 2px solid #ab7355;
    outline: none;
    font-size: 21px;
    margin: 8px;
    background: #e5d5bd;
}
.textarea textarea {
    padding: 10px 12rem 50px 10px;
    border-radius: 20px;
    border: 2px solid #ab7355;
    margin: 8px;
    font-size: 20px;
    outline: none;
    background: #e5d5bd;
}
.button-3 {
    padding: 10px 15px;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 18px;
    color: #e5d2d2;
    cursor: pointer;
    background-color: #484848;
    border-radius: 20px;
    margin-bottom: 30px;
    border-style: none;
}
}
@media screen and (max-width: 320px){
    .logo {
    margin-left: 58px;
    font-size: 28px;
    line-height: 90px;
    font-family: 'Tenor Sans';
    cursor: pointer;
}
.para_1 {
    /* height: 352px; */
    font-size: 20px;
    line-height: 24px;
    color: #3e3e3e;
    font-weight: 600;
    font-family: "Open Sans";
}
.buton_1 >.btn {
    padding: 10px 27px;
    background-color: #976a4e;
    border-radius: 20px;
    border: 0px solid #93684c;
    margin: 0 10px;
    font-size: 16px;
    color: #e0d4bd;
    font-weight: 600;
}
.buton_1 >.btn_22 {
    background-color: #e0d4bd;
    border-style: none;
    padding: 10px 27px;
    font-weight: 600;
    font-size: 17px;
    color: #976a4e;
}
.build {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 316px;
    text-align: center;
    line-height: 2;
}
.rgtarow {
    position: absolute;
    left: 0px;
    top: 12%;
    width: 13%;
    height: 72px;
}
.lftarow {
    position: absolute;
    right: 0px;
    top: 12%;
    width: 11%;
    height: 69px;
}
.head_3 h2 {
    font-size: 40px;
    line-height: 70px;
    text-transform: uppercase;
    color: #976a4e;
    font-weight: 400;
    font-family: "Tenor Sans";
}
.elit p {
    font-size: 22px;
    line-height: 24px;
    color: #3e3e3e;
    font-weight: 600;
    font-family: "Open Sans";
}
img {
    width: 26%;
    /* margin-top: 28px; */
}
.img_tempor>h4 {
    font-size: 24px;
    letter-spacing: 1px;
    margin-top: 30px;
    line-height: 32px;
    text-transform: uppercase;
    color: #976a4e;
    font-weight: 600;
    font-family: "Open Sans";
}
.img_tempor>p {
    font-size: 22px;
    line-height: 32px;
    margin: 0px 0px;
    color: #3e3e3e;
    font-weight: 600;
    font-family: "Open Sans";
}
.lore_sit {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 34px;
    height: 250vh;
    padding-top: 20px;
    margin: 0 auto;
    width: 765px;
}
.oured {
    display: grid;
    grid-template-columns: 1fr;
    width: 767px;
    margin: 0 auto;
}
.magna>button {
    padding: 7px 13px;
    margin-right: 47%;
    margin-top: 26px;
    border-radius: 13px;
    font-weight: 700;
    background-color: #e0d4bd;
    color: #976a4e;
    border-style: none;
}
.album {
    background-color: #e0d4bd;
    text-align: center;
    height: 586px;
    /* margin-top: 36%; */
}
.eiusmod {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -4px;
    width: 767px;
}
.section-7 {
    background: #e5d5bd;
    height: 600px;
    position: relative;
    display: none;
}
.shap_arrow>.baro_1 {
    position: absolute;
    right: 178px;
    top: 260px;
    width: 8%;
}
.shap_arrow>.baro_2 {
    position: absolute;
    /* bottom: -4px; */
    width: 8%;
    right: 49px;
    top: 260px;
}
.main_album {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    width: 767px;
}
.my_teble {
    position: absolute;
    width: 55%;
    right: 0px;
    top: 48%;
}
.bold_1 button {
    padding: 7px 11px;
    margin-top: 41px;
    margin-right: 53%;
    border-radius: 14px;
    border-style: none;
    color: #e0d4bd;
    cursor: pointer;
    font-weight: 700;
    font-family: "Open Sans";
    background-color: #976a4e;
}
.magna p {
    padding: 0px 149px;
    font-size: 21px;
    line-height: 26px;
    color: #e0d4bd;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: left;
}
.magna>button {
    padding: 7px 13px;
    margin-right: 43%;
    margin-top: 26px;
    font-size: 20px;
    border-radius: 13px;
    font-weight: 700;
    background-color: #e0d4bd;
    color: #976a4e;
    border-style: none;
}
.light-img>.pri_3 {
    width: 52%;
    height: 91vh;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 258px;
    left: 50%;
}
.Picture-img>.pri_2 {
    position: absolute;
    right: 34%;
    top: 7%;
    width: 96%;
    height: 608px;
}
.email-name {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #e0d4bd;
    position: relative;
    /* height: 781px; */
}
.textarea textarea {
    padding: 10px 3rem 4px 10px;
    border-radius: 20px;
    border: 2px solid #ab7355;
    margin: 8px;
    font-size: 20px;
    outline: none;
    background: #e5d5bd;
}
.email input {
    padding: 5px 2rem 5px 17px;
    border-radius: 20px;
    border: 2px solid #ab7355;
    outline: none;
    font-size: 18px;
    margin: 8px;
    background: #e5d5bd;
}
.your-name input {
    padding: 5px 2rem 5px 17px;
    border-radius: 20px;
    border: 2px solid #ab7355;
    margin: 8px;
    margin-left: 39%;
    margin-top: 0%;
    font-size: 18px;
    outline: none;
    background: #e5d5bd;
}
.all_term {
    text-align: right;
    margin-right: 10%;
    margin-top: -7%;
}
.button-3 {
    padding: 10px 15px;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 14px;
    color: #e5d2d2;
    margin-right: 21%;
    cursor: pointer;
    background-color: #484848;
    border-radius: 20px;
    margin-bottom: 36px;
    margin-top: 18px;
    border-style: none;
}
.Picture-img>.pri {
    width: 62%;
    height: 50%;
    position: absolute;
    bottom: -49px;
    left: 0;
}
.subscribe {
    margin-top: 50%;
    font-size: 45px;
    margin-left: 35%;
    letter-spacing: 1px;
    line-height: 54px;
    color: #484a4b;
    font-weight: 400;
    font-family: "Tenor Sans";
    text-align: center;
}
.col-3-footer {
    width: 723px;
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: 1fr;
    /* column-gap: 1px; */
    text-align: center;
}
.about {
    margin-left: 0%;
    margin-top: 122px;
}
.about h2 {
    font-size: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    margin-bottom: 25px;
}
.sec-ul li a {
    text-decoration: none;
    font-size: 27px;
    letter-spacing: -1px;
    line-height: 46px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
}
.about i {
    padding: 9px;
    margin-left: 25px;
    font-size: 35px;
    border: 3px solid #a66a4b;
    border-radius: 54px;
    color: #a66a4b;
    margin-top: 51px;
    cursor: pointer;
}
.nav-links li a {
    text-decoration: none;
    margin: 0px 4px;
    color: #0e0e0e;
    font-weight: 600;
    font-size: 26px;
}
.login-button {
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 6px 17px;
    margin-left: 2vw;
    font-size: 24px;
    border-style: none;
    color: #e5d2d2;
    cursor: pointer;
    font-family: 'Tenor Sans';
    background-color: #484848;
}
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}


